### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
**/target
/.mvn/
/springboot-kafka/.mvn/
/springboot-redis-lock/.mvn/
/springboot-websocket/.mvn/
/springboot-redis/.mvn/
/springboot-redis/springboot-redis-standalone/.mvn/
/springboot-redis/springboot-redis-cluster/.mvn/
/springboot-mybatis-plus/dynamic-datasource/.mvn/
